@model Testes.Models.Login
@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <h2>    Nome</h2>
    <div>
        @Html.EditorFor(Modelo=> Model.NomeUsuario)
        @Html.ValidationMessageFor(Model => Model.NomeUsuario)
    </div>

    <h2>    Email</h2>
    <div>
        @Html.EditorFor(Modelo => Model.Email)
        @Html.ValidationMessageFor(Model => Model.Email)
    </div>

    <h2>    Login</h2>
    <div>
        @Html.EditorFor(Modelo => Model.login)
        @Html.ValidationMessageFor(Model => Model.login)
    </div>

    <h2>    Senha</h2>
    <div>
        @Html.PasswordFor(Modelo => Model.senha)
        @Html.ValidationMessageFor(Model => Model.senha)
    </div>

    <input type="submit" name="Registrar" value="Registrar-se" />
}


