@model validação2.Models.Pessoa

<h2>    Lista de dados de pessoas</h2>

<fieldset>
    <legend>Pessoa</legend>
    <div>
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div>
        @Html.DisplayFor(model => model.Nome)

    </div>

    <div>
        @Html.DisplayNameFor(model => model.Observaçoes)
    </div>
    <div>
        @Html.DisplayFor(model => model.Observaçoes)

    </div>

    <div>
        @Html.DisplayNameFor(model => model.Idade)
    </div>
    <div>
        @Html.DisplayFor(model => model.Idade)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div>
        @Html.DisplayFor(model => model.Email)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Login)
    </div>
    <div>
        @Html.DisplayFor(model => model.Login)

    </div>

    <div>
        @Html.DisplayNameFor(model => model.Senha)
    </div>
    <div>
        @Html.DisplayFor(model => model.Senha)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.ConfirmarSenha)
    </div>
    <div>
        @Html.DisplayFor(model => model.ConfirmarSenha)

    </div>



 

</fieldset>